<html>
    <head>
        <title>distructed boyfriend</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body style="background-color:#fff; margin:0px">
        <div id="container">
            <div id="image1">
                <img src="./distructred-boyfriend.png">
            </div>
            <div id="text1" class="text"><div>Text 1</div></div>
            <div id="text2" class="text"><div>Text 2</div></div>
            <div id="text3" class="text"><div>Text 3</div></div>
        </div>
    </body>
</html>
